 /* --------------------- Search Page --------------------- */

/* header nav bar */

#search-header {
	width: 100%;
	height: 5em;
	background-color: #13182e;
}

.searchlogo{
	width: 120px;
}

#search-header .wrapper{
	width: 85%;
	margin-left: auto;
	margin-right: auto;
	padding-top: 1em;
}


#search-header button{
	background-color: #4bac93;
	border-color: #4bac93;
	color: white;
	border-radius: 1px;
}

#search-header input{
	border-radius: 1px;
}

#search-header input::-webkit-input-placeholder { /* WebKit browsers */
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
}



.displayimage{
	width: 35px;
}

#search-header h5{
	font-family: 'Lato', sans-serif;
	color: white;
	margin-right: 5px;
}

/* Result Container */

/* Filters */


.resultscontainer{
	width: 80%;
	margin-top: 2em;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 5em;
	border-top: 1px solid rgb(239, 236, 236);
	padding-top: 2px;

}

.filter{
	margin-top: 1em;
	font-family: 'Lato', sans-serif;
	font-weight: 400;
}

.filter select{
	width: 150px;
}

/* Stylist Search Container*/



.stylist-search-container{	
	border-left: 1px solid rgb(239, 236, 236);
	border-right: 1px solid rgb(239, 236, 236);
}

.stylist-result{
	width: 95%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 1em;
	padding-bottom: 10px;
	border-bottom: 1px solid rgb(239, 236, 236);
}

.stylist-result h5, p{
	font-family: 'Roboto';
	line-height: 12px;
}

.stylist-result label{
	font-family: 'Roboto';
	font-size: 22px;
	color: #FF4F4F;
}

.venue-img{
	
}

.stylist-result img{
	width: 100%;
	height: 100%;
}

.stylist-result #rating{
	width: 55px;
	height: 40px;
	background-color: #2FB896;
	text-align: center;
	color: white;
	padding-top: 6px;
	border-radius: 5px;
	margin-top: 5px;
	margin-left: auto;
	font-family: 'Lato', sans-serif;
	font-weight: bold;
	font-size: 20px;
}

.menu-items .item-cost{
	text-align: right;
}

.menu-items{
	font-family: 'Lato','Open sans', sans-serif;
}

.menu-items .item{
	border-top: 1px solid #EFEFEF;
}


.mobile-filter{
	border-radius: 50%;
	background-color: #2FB896;
	color: white;
	display: none;
}

